---
layout: page
---

<div class="post-content">
  Numerous third-party libraries introduced into client projects are
  not actually required, resulting in modern software being gradually
  bloated. Software developers may spend much unnecessary effort
  to manage the bloated dependencies: keeping the library versions
  up-to-date, making sure that heterogeneous licenses are compatible,
  and resolving dependency conflict or vulnerability issues.
  However, the prior debloating techniques can easily produce
  false alarms of bloated dependencies since they are less effective
  in analyzing Java reflections. Besides, the solutions given by the
  existing approaches for removing bloated dependencies may induce
  new issues that are not conducive to dependency management. To
  address the above limitations, in this paper, we developed a technique,
  <a href="https://github.com/slimming-fat/slimming-fat.github.io/tree/master/Slimming"><strong>Slimming</strong></a>, to remove bloated dependencies from software
  projects reliably. Slimming statically analyzes the Java reflections
  that are commonly leveraged by popular frameworks (e.g., Spring
  Boot) and resolves the reflective targets via parsing configuration
  files (*.xml, *.yml and *.properties). By modeling string manipulations,
  Slimming fully resolves the string arguments of our
  concerned reflection APIs to identify all the required dependencies.
  More importantly, it helps developers analyze the debloating solutions
  by weighing the benefits against the costs of dependency
  management.
</div>

  <hr>
  <div class="post-content">
      <div class="logo">

           <img src="/assets/img/tool.svg" alt="avatar" height="50" width="50">

          <span>
              <a href="https://slimming-fat.github.io/SLIMMING"><strong> An effective automated redundant dependency tool</strong></a><br>
          </span>
      </div>
      <div class="logo">

           <img src="/assets/img/repository.svg" alt="avatar" height="50" width="50">

          <span>
              <a href="https://slimming-fat.github.io/ISSUE">
              <strong>ISSUE submission status<br></strong>
          </a>
          </span>
      </div>
      <div class="logo">

           <img src="/assets/img/libraries.svg" alt="avatar" height="50" width="50">

          <span>
              <a href="https://slimming-fat.github.io/Empirical-Findings">
                  <strong>Developer Feedback<br></strong>
              </a>
          </span>
      </div>
      <div class="logo">

           <img src="/assets/img/download.svg" alt="avatar" height="50" width="50">

          <span>
              <a href="https://slimming-fat.github.io/Download-Datasets">
                  <strong>Download the dataSets<br></strong>
              </a>
          </span>
      </div>

  </div>

  <div id="d-help-win" class="d-help-win" style="display: none;">
      <div id="win-title">Help
          <span id="d-help-colse" clss="close_2" class="close_2">
              ×
          </span>
      </div>
      <div id="win-content">
          <blockquote class="prompt-tip"><div><p> We provide a list of PLC issues captured by us in real-world pipelines and popular ML libraries.</p></div></blockquote>
          <div>
              <ol>
                  <li>Go to <strong><font color="#FF0000">Empirical Findings</font></strong> page</li>
                  <li>Select a bug and click on <strong><font color="#FF0000">reproduce result link</font></strong>.</li>
                  <li>You can find the reproduction results of each version and the related reproduction code.</li></ol>
          </div>

          <img src="/assets/img/Pipeline-Bug.gif" alt="avatar">
      </div>
  </div>
